<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-git.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Finds all elements that are checked or selected.</title>
</head>
<body>
	<script rel="stylesheet" src="../scripts/checked.js"></script>
	<form>
		<input type="checkbox" name="color" value="Bike" onclick="getChecked()">Red
		<input type="checkbox" name="color" value="Car" onclick="getChecked()">Green
		<input type="checkbox" name="color" value="Car" onclick="getChecked()">Blue
		<input type="checkbox" name="color" value="Car" onclick="getChecked()">Black
	</form>
	<p></p>
</body>
</html>